@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: Montserrat, sans-serif;
}

html,
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #4a90a4;
}

.login-page-right {
  background-color: #4a5460;
  color: #e3e7d3;
}

.login-page-left {
  background-color: #e3e7d3;
}

.login-font {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.helper-font {
  color: #4a5460;
}
